@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 225, 20%, 96%;
        --foreground: 210, 6%, 7%;
        --card: 225, 20%, 96%;
        --card-foreground: 210, 6%, 7%;
        --popover: 225, 20%, 96%;
        --popover-foreground: 210, 6%, 7%;
        --primary: 219, 78%, 65%;
        --primary-foreground: 210, 6%, 7%;
        --secondary: 218, 59%, 74%;
        --secondary-foreground: 210, 6%, 7%;
        --muted: 225, 20%, 20%;
        --muted-foreground: 207, 6%, 70%;
        --accent: 38, 66%, 41%;
        --accent-foreground: 210, 6%, 7%;
        --destructive: 0, 85%, 60%;
        --destructive-foreground: 210, 6%, 7%;
        --border: 225, 20%, 20%;
        --input: 225, 20%, 20%;
        --ring: 38, 66%, 40%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 225, 20%, 4%;
        --foreground: 210, 6%, 93%;
        --card: 225, 20%, 4%;
        --card-foreground: 210, 6%, 93%;
        --popover: 225, 20%, 4%;
        --popover-foreground: 210, 6%, 93%;
        --primary: 219, 78%, 35%;
        --primary-foreground: 210, 6%, 93%;
        --secondary: 218, 59%, 26%;
        --secondary-foreground: 210, 6%, 93%;
        --muted: 225, 20%, 80%;
        --muted-foreground: 210, 6%, 93%;
        --accent: 38, 66%, 59%;
        --accent-foreground: 225, 20%, 4%;
        --destructive: 0, 62%, 30%;
        --destructive-foreground: 200, 6%, 10%;
        --border: 225, 20%, 60%;
        --input: 225, 20%, 80%;
        --ring: 38, 66%, 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
